<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultura: Aquario | Principal</title>
    <link rel="stylesheet" href="/views/public/general.css">
</head>
<body>

    <%- include('mod/navBar.ejs') %>

    <!-- tipo carrusel -->
    <div id="hero">
        <h1>Cultura: Aquario</h1>
        <p>Sumérgete en la cultura Guariqueña</p>
    </div>

    <!-- info basica -->
    <div>
        <h2>Sitios de interés</h2>

        <div id="sites">

            <!-- tarjetas con informacion de los sitios culturales o artisticos de interes -->
             <!-- recomendablemente hacerlo dinamico, sino, hacerlo estatico -->
            
            <div class="site">
                <img src="" alt="imagen de la casa de la cultura" class="site-img">
                <h3 class="site-title">Casa de la Cultura</h3>
                <p class="site-content">Lugar no se que cosa</p>
                <a href="" class="site-link">Mira más aquí</a>
            </div>

            <div id="view-more">
                <form action="" method="post">
                    <button type="submit">Ver más</button>
                </form>
            </div>

        </div>
    </div>

    <%- include('mod/footer.ejs') %>
    
</body>
</html>