<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultura: Aquario | Principal</title>
    <link rel="shortcut icon" href="/src/imgs/logos/aquariofaviconwobg.png" type="image/x-icon">
    <link rel="stylesheet" href="/views/public/general.css">
    <link rel="stylesheet" href="/views/public/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/src/scss/_buttons.scss">
</head>
<body>

    <%- include('mod/navBar.ejs') %>

    <!-- tipo carrusel -->
    <div id="hero">
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-start">
                    <img src="/src/imgs/carrusel_definitivo/casadelacultura0.jpg" class="hero-img w-100 d-block" alt="Imagen 1">
                    <div class="carousel-textleft">
                        <h2>Título 1</h2>
                        <p>Subtítulo descriptivo de la primera imagen.</p>
                        <a class="boton-slide" href="#">Ver Mas</a>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="/src/imgs/carrusel_definitivo/laguna_unerg_ais.jpg" class="hero-img w-100 d-block" alt="Imagen 2">
                    <div class="carousel-textcenter">
                        <h1>Another example headline.</h1>
                        <p>Some representative placeholder content for the second slide of the carousel.</p>
                        <p><a class="boton-slide" href="#">Ver Mas</a></p>
                    </div>
                </div>

                    <div class="carousel-item">
                        <img src="/src/imgs/carrusel_definitivo/morrosaestetis.jpg" class="hero-img w-100 d-block" alt="Imagen 3">
                        <div class="carousel-textright">
                            <h2>Título 3</h2>
                            <p>Subtítulo descriptivo de la tercera imagen.</p>
                            <a class="boton-slide" href="#">Ver Mas</a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>

    <!-- info basica -->

        <div id="sites">
        <h2 class="title-2 animate__animated animate__fadeIn">Sitios de interés</h2>
            <!-- tarjetas con informacion de los sitios culturales o artisticos de interes -->
        <div class="cars">
        
            <div class="carta animate__animated animate__backInLeft">
                <img src="/src/imgs/cards/sillyshark.png" class="site-img card-img-top" alt="...">
                <h2 class="nombre">Nombre del Usuario</h2>
                <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae laborum dolorum voluptas
                    laudantium nihil vero deserunt amet dicta, cupiditate porro doloribus libero sunt aspernatur maxime debitis
                    corrupti, sed sapiente in?</p>
                </div>
<div class="carta animate__animated animate__backInDown">
    <img src="/src/imgs/cards/sillyshark.png" class="site-img card-img-top" alt="...">
    <h2 class="nombre">Nombre del Usuario</h2>
    <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae laborum dolorum voluptas
        laudantium nihil vero deserunt amet dicta, cupiditate porro doloribus libero sunt aspernatur maxime debitis
        corrupti, sed sapiente in?</p>
        </div>
<div class="carta animate__animated animate__backInRight ">
    <img src="/src/imgs/cards/sillyshark.png" class="site-img card-img-top" alt="...">
            <h2 class="nombre">Nombre del Usuario</h2>
            <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae laborum dolorum voluptas
                laudantium nihil vero deserunt amet dicta, cupiditate porro doloribus libero sunt aspernatur maxime debitis
                corrupti, sed sapiente in?</p>
            </div>
            
            </div>
            <h2 class="title-2 animate__animated animate__fadeIn">Entradas mas recientes</h2>
            
            <div class="cars">
                <div class="cars">
                    <div class="carta  animate__animated animate__backInLeft">
                        <div class="perfil">
                            <img src="/src/imgs/cards/sillyshark.png" alt="Foto de Perfil" class="foto-perfil">
                        </div>
                        <h2 class="nombre">Nombre del Usuario</h2>
                        <p class="descripcion">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere mollitia magni ipsa
                            adipisci autem ea iste perspiciatis deserunt illum! Odio, sequi quae architecto voluptatum sunt aut
                            natus eligendi facere repellendus?</p>
                    </div>
            
                    <div class="carta  animate__animated animate__backInUp">
                        <div class="perfil">
                            <img src="/src/imgs/cards/sillyshark.png" alt="Foto de Perfil" class="foto-perfil">
                        </div>
                        <h2 class="nombre">Nombre del Usuario</h2>
                        <p class="descripcion">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque maxime quae unde
                            exercitationem ad, natus officia! Deleniti eius quas molestiae impedit. Quidem atque neque sit dolores?
                            Totam voluptate magnam reiciendis.</p>
                    </div>
<div class="carta  animate__animated animate__backInRight">
    <div class="perfil">
        <img src="/src/imgs/cards/sillyshark.png" alt="Foto de Perfil" class="foto-perfil">
        </div>
        <h2 class="nombre">Nombre del Usuario</h2>
        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae laborum dolorum voluptas
            laudantium nihil vero deserunt amet dicta, cupiditate porro doloribus libero sunt aspernatur maxime debitis
            corrupti, sed sapiente in?</p>
        </div>
        </div>
        </div>

<div class="contac">
    <h2>Contactanos</h2>
    <p>Mantente conectados con nosotros.</p>
    <h3>Correo:</h3>
    <form action="/validar" method="post" class="formulario-contac">
        <input type="email" id="correo" name="correo" class="input-email">
        <input type="submit" value="enviar" class="boton-contac">
            </form>
        </div>
            

    </div>

    <!-- <div id="pruebadeletras">
        <p>Letras para el documento</p>
        <h1 id="against">Against</h1>
        <h1 id="cinzel">Cinzel</h1>
        <h1 id="creato">Creato</h1>
        <h1 id="recoleta">Recoleta</h1>
    </div> -->

    <%- include('mod/footer.ejs') %>
    
</body>
</html>