<!-- Botón flotante -->
<div id="mensajeToggleBtn" class="mensaje-btn">
    ✉️
</div>
  
  <!-- Panel de mensajes -->
<div id="mensajePanel" class="mensaje-panel">
    <h3>Mensajes del equipo</h3>
    <div id="mensajesContenido"></div>
</div>  
  
<script src="/controller/message/correo.js"></script>  