<nav id="navBar">
    <ul id="navBarList">
        <li class="navBarItem"><a href="/" class="navBarLink">Inicio</a></li>
        <li class="navBarItem"><a href="/About" class="navBarLink">Sobre Nosotros</a></li>
    </ul>
</nav>