<nav id="navBar">
    <ul id="navBarList">
        <li class="navBarItem"><a href="/main/" class="navBarLink">Home</a></li>
        <li class="navBarItem"><a href="/main/About" class="navBarLink">About</a></li>
    </ul>
</nav>