<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre: Aquario</title>
    <link rel="shortcut icon" href="/src/imgs/logos/aquariofaviconwobg.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/views/public/general.css">
    <link rel="stylesheet" href="/views/public/about.css">
    <link rel="stylesheet" href="/views/public/services.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <%- include('../mod/navBar.ejs') %>

    <!-- info de la empresa -->
    <header id="hero-about">
        <div class="container text-center">
            <h1 id="hero-title">Conoce Aquario</h1>
            <p id="hero-content">
                Sumergete con nosotros en las profundidades de nuestro 
                <span id="hero-resalt">aquario</span>
            </p>
        </div>
    </header>

    <!-- sobre nosotros -->
    <section id="aboutAquario" class="py-5">
        <div class="container">
            <h2 class="sub-title text-center mb-4" id="about-title">Sobre Nosotros</h2>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <p class="about-content mb-3">
                        En un mundo donde la riqueza cultural enfrenta el desafío de la modernización y el olvido, 
                        <b><i>Aquario</i> nace como un faro de innovación</b>, combinando tecnología y tradición para 
                        <b>revitalizar la identidad cultural del estado.</b>
                    </p>
                    <p class="about-content">
                        Somos una cooperativa dedicada a la <b>creación de aplicaciones</b> que no sólo 
                        <b>rescatan la memoria y el arte local</b>, sino que también fomentan la participación activa 
                        de comunidades, artistas y gestores culturales.
                    </p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="/src/imgs/logos/aquariowobg.png" alt="logo de aquario" class="img-fluid" id="about-img">
                </div>
            </div>
        </div>
    </section>

    <!-- mision -->
    <section id="missionAquario" class="py-5 bg-light">
        <div class="container">
            <h2 class="sub-title text-center mb-4" id="mssn-title">Mision</h2>
            <div class="row align-items-center">
                <div class="col-md-7">
                    <p class="mssn content">
                        En <i>“Aquario”</i>, <b>nos sumergimos en la exploración y preservación del conocimiento cultural venezolano</b> dentro del estado Guárico, en el municipio Juan Germán Roscio Nieves, <b>utilizando la tecnología como un vehículo para la innovación, la creatividad y el acceso a la información.</b>
                    </p>
                    <p class="mssn content">
                        Nuestro compromiso es <b>transformar el acceso a la cultura mediante herramientas digitales</b> que faciliten la interacción, el aprendizaje y la <b>difusión del patrimonio cultural.</b> A través de un enfoque interdisciplinario, integramos tecnología, historia, comunicación y diseño para desarrollar soluciones que <b>conecten el pasado con el futuro</b>, haciendo de la cultura un espacio dinámico e inclusivo. Creemos en el poder de la tecnología como un puente vibrante entre el pasado y el presente, permitiendo que comunidades locales se conecten, se expresen y preserven su identidad.
                    </p>
                </div>
                <div class="col-md-5 text-center">
                    <img src="/src/imgs/about/mision.png" alt="imagen random" class="img-fluid" id="mssn-img">
                </div>
            </div>
        </div>
    </section>

    <!-- vision -->
    <section id="visionAquario" class="py-5">
        <div class="container">
            <h2 class="sub-title text-center mb-4" id="vsn-title">Vision</h2>
            <div class="row align-items-center" style="display: flex; flex-direction: row-reverse;">
                <div class="col-md-7">
                    <p class="vsn content">
                        <i>“Aquario”</i> aspira <b>consolidar un proyecto significativo</b> que no solo satisfaga las expectativas de sus integrantes, sino que también se erija como una plataforma dinámica para <b>la exploración, documentación y difusión de la rica y diversa cultura venezolana</b> arraigada específicamente en el estado Guárico, en el municipio Juan Germán Roscio Nieves.
                    </p>
                </div>
                <div class="col-md-5 text-center">
                    <img src="/src/imgs/about/vision.png" alt="imagen random" class="img-fluid" id="vsn-img">
                </div>
            </div>
        </div>
    </section>

    <!-- valores -->
    <section id="valuesAquario" class="py-5 bg-light">
        <div class="container">
            <h2 class="sub-title text-center mb-4">En Aquario creemos en...</h2>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li><b>La fuerza de la colaboración.</b> Fomentamos un ambiente en el que todos nuestros miembros se apoyan mutuamente, <b>promoviendo el bienestar colectivo por encima del interés individual.</b></li>
                        <li><b>La participación activa de nuestros miembros es fundamental.</b> Cada voz cuenta y cada decisión se toma de manera democrática, asegurando que todos tengan la <b>oportunidad de influir en el rumbo de nuestra cooperativa.</b></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li><b>Comprometernos a actuar de manera responsable</b>, tanto social como ambientalmente. Entendemos que nuestras acciones tienen un impacto en la comunidad y en el entorno, y <b>trabajamos para minimizar cualquier efecto negativo.</b></li>
                        <li><b>Fomentar un espíritu innovador</b> que nos impulsa a buscar nuevas formas de mejorar nuestros servicios y procesos. <b>Estamos abiertos al cambio y a la adaptación</b>, siempre con el objetivo de satisfacer las necesidades de nuestros miembros.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- jerarquía -->
    <section id="jerarquiAquario" class="py-5">
        <div class="container text-center">
            <h2 class="sub-title mb-4" id="jerarquiaTitle">Jerarquia</h2>
            <p><i>Aquario</i> está conformado por un equipo de profesionales comprometidos con la excelencia, la creatividad y la colaboración.</p>
            <img src="/src/imgs/about/Organigrama_Aquario.png" alt="Organigrama de Aquario" class="img-fluid mt-3">
        </div>
    </section>

    <!-- servicios -->
    <%- include('../about/services.ejs') %>

    <!-- contacto -->
    <%- include('../about/contact.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include('../mod/footer.ejs') %>

</body>
</html>