<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre: Aquario</title>
    <link rel="stylesheet" href="/views/public/general.css">
</head>
<body>

    <%- include('../mod/navBar.ejs') %>

    <!-- info de la empresa -->
     <div>
        <h1>Conoce Aquario</h1>
     </div>

    <!-- sobre nosotros -->
    <div id="aboutAquario">
        <h2>Sobre Nosotros</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consectetur pariatur necessitatibus aut in sunt soluta temporibus atque rem quam incidunt quisquam possimus architecto consequatur quibusdam, eaque, ad ab repellendus!</p>
        <img src="" alt="imagen random">
    </div>

    <!-- mision -->
    <div id="missionAquario">
        <h2>Mision</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus facilis doloremque, officiis dicta voluptatem eaque quae inventore! Neque adipisci minus dolores provident? Ipsa molestias quos, quia cupiditate ut deserunt iste?</p>
        <img src="" alt="imagen random">
    </div>

    <!-- vision -->
    <div id="visionAquario">
        <h2>Vision</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla expedita commodi distinctio laudantium quis, libero vero nemo eaque sint et porro adipisci minima, saepe hic velit odit enim sunt architecto?</p>
        <img src="" alt="imagen random">
    </div>

    <!-- valores -->
    <div id="valuesAquario">
        <h2>En Aquario creemos en...</h2>
        <ul>
            <li>Alo</li>
        </ul>
    </div>

    <!-- contacto -->
    <div id="contactAquario">
        <div id="contactFormAquario">
            <h3>Contactanos</h3>
            <form action="" method="post">
                <label for="">Nombre:</label>
                <input type="text" name="" id="">

                <label for="">Correo Electronico:</label>
                <input type="email" name="" id="">

                <label for="">Mensaje:</label>
                <textarea name="" id=""></textarea>

                <button type="submit">Enviar</button>
            </form>
        </div>

        <div id="contactFollowAquario">
            <h3>Siguenos</h3>
            <!-- Correo Electronico, Instagram, Twitter, LinkedIn  -->
        </div>
    </div>

    <%- include('../mod/footer.ejs') %>
    
</body>
</html>