<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultura: Aquario | Casa De La Cultura</title>
    <link rel="shortcut icon" href="/src/imgs/logos/aquariofaviconwobg.png" type="image/x-icon">
    <link rel="stylesheet" href="/views/public/general.css">
    <link rel="stylesheet" href="/views/public/blog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <%- include('../mod/navBar.ejs') %>

    <header class="text-center p-4">
        <h1>Casa de la Cultura "Victor Manuel Ovalles"</h1>
    </header>

    <main class="container my-4">
        <section>
            <h2>Descripción</h2>
            <p><a href="https://www.youtube.com/@casadelaculturavictormanue9964">La Casa de la Cultura "Victor Manuel Ovalles"</a> es una importante institución cultural ubicada en San Juan de Los Morros, Estado Guárico, Venezuela. Se dedica al fomento de actividades artísticas y culturales.</p>
        </section>

        <section>
            <h2>Reseña Histórica</h2>
            <p> Esta institución cultural fue creada en febrero de 1966 mediante un decreto firmado por el entonces gobernador del estado, Alberto Bustamante, con Juan Balbi Medina como secretario general de gobierno. Sin embargo, su inauguración oficial se llevó a cabo el 10 de marzo de 1972, durante la gestión del gobernador David Intriago Sifontes.

El acto inaugural contó con la presencia de familiares del doctor Víctor Manuel Ovalles, en cuyo honor fue nombrada la casa de la cultura. Durante la ceremonia, intervinieron figuras destacadas como Argenis Ranuárez Angarita, el propio David Intriago Sifontes y Tito Sierra Santamaría, quien también documentó este hecho en su libro Sitios Históricos del estado Guárico.</p>
        </section>

        <section>
            <h2>Actividades</h2>
            <p>En sus instalaciones se brindan servicios didácticos como talleres de expresión y motivación infantil y talleres de cerámica, así como también se llevan a cabo actividades relacionadas al teatro, la música y la pintura. Cuenta además con una biblioteca, una galería de arte y una sala de conferencias.</p>
            <ul>
                <li>Festivales de música llanera, como el Festival Interno de Contrapunteo “La Escopeta de Oro”, en homenaje a figuras del folclore regional.</li>
                <li>Planes vacacionales infantiles, como “Llaneritos del Guárico”, que incluyen talleres, juegos y actividades culturales para niños.</li>
                <li>Presentaciones musicales, incluyendo agrupaciones como la Banda de Antaño “Miguel Soublette”.</li>
                <li>Talleres de lectura y escritura creativa, en colaboración con medios como Cantaguárico 91.3 FM.</li>
                <li>Eventos navideños comunitarios, como “Vivamos la Navidad en Cuerpo y Alma”, con presentaciones artísticas y participación ciudadana.</li>
                <li>Cierres pedagógicos culturales, donde se muestran los logros de los talleres y programas educativos anuales.</li>
            </ul>
        </section>

        <section>
            <h2>Galería de Imágenes</h2>
            <div class="gallery-container">
                <div class="gallery">
                    <img src="/src/imgs/Blog/Imagen5.jpg"  alt="Imagen 1">
                    <img src="/src/imgs/Blog/imagen4.jpg" alt="Imagen 2">
                    <img src="/src/imgs/Blog/imagen3.jpg" alt="Imagen 3">
                    <img src="/src/imgs/Blog/imagen2.jpg"alt="Imagen 4">
                    <img src="/src/imgs/Blog/imagen1.jpg" alt="Imagen 5">
                </div>
            </div>
        </section>

        <section>
            <h2>Ubicación</h2>
            <div id="map"></div>
        </section>

        <section>
            <h2>Contacto</h2>
            <p>Puedes ver mas de su contenido en su canal de Youtube</p>
            <p>
                <a href="https://www.youtube.com/@casadelaculturavictormanue9964" class="social-icon">
                    <i class="fa-brands fa-square-youtube" style="color: #f40606;"></i>@casadelaculturavictormanue9964
            
                </a>
            </p>
        </section>
    </main>

    <script>
        var map = L.map('map').setView([9.913920127625353, -67.35503895952263], 15);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        L.marker([9.913920127625353, -67.35503895952263]).addTo(map)
            .bindPopup('Casa de la Cultura "Victor Manuel Ovalles"')
            .openPopup();
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include('../mod/footer.ejs') %>

</body>
</html>
