<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultura: Aquario | Parque Juan German Roscio</title>
    <link rel="shortcut icon" href="/src/imgs/logos/aquariofaviconwobg.png" type="image/x-icon">
    <link rel="stylesheet" href="/views/public/general.css">
    <link rel="stylesheet" href="/views/public/blog.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <%- include('../mod/navBar.ejs') %>

    <header class="text-center p-4">
        <h1>Parque Juan German Roscio</h1>
    </header>

    <main class="container my-4">
        <section>
            <h2>Descripción</h2>
            <p>El <a href="https://steemit.com/hive-113376/@co-charity50pc/parque-juan-german-roscio-mas-que-una-institucion-cultural">Parque Juan German Roscio</a>, es una institución cultural privada sin fines de lucro. Lleva el nombre de un importante prócer de la independencia de Venezuela. Este mismo nombre lo tiene otorgado el Municipio del cual la ciudad de San Juan de Los Morros es capital. Esta ubicado en la calle Mariño, entre la av. Bolívar y la Calle Roscio, en plena zona central de San Juan de Los Morros.</p>
        </section>

        <section>
            <h2>Reseña Histórica</h2>
            <p>Sus principio se data entre finales de los años 70´s y la década de los 80’s. y todo comenzó como un lugar para la reunión de algunos pintores y artesanos. Un sitio donde podían trabajar sin ser molestados y donde podían intercambiar ideas.</p>
            <p>A medida que fue avanzando el tiempo más cultores fueron sumándose a este sitio y mas géneros culturales comenzaron a hacer viva en ese lugar. Música, Danza, teatro, entre otros fortalecieron el lugar y dieron paso a que se considerada un centro cultural.</p>
        </section>

        <section>
            <h2>Actividades</h2>
            <p>El parque ofrece programas culturales que se extendieron de fines de semana a todos los días de la semana debido a la creciente asistencia. Se realizan exposiciones de pintura con obras de artistas que hacen vida en la institución, así como conciertos de música tradicional y presentaciones de danza regional. Es una alternativa cultural en la ciudad que apoya el desarrollo artístico y cultural de niños, jóvenes y adultos, contribuyendo de manera benéfica a la creatividad de los habitantes de San Juan de Los Morros.</p>
            <ul>
                <li>Excursionismo guiado: Recorridos por senderos ecológicos para conocer la biodiversidad del parque.</li>
                <li>Montañismo: Ascensos al Cerro Platillón, el punto más alto de la Serranía del Interior</li>
                <li>Campamentos ecológicos: Actividades educativas y recreativas para jóvenes y familias, con enfoque en conservación</li>
                <li>Jornadas culturales y comunitarias: En el parque urbano de San Juan de los Morros se realizan conciertos, ferias y encuentros artísticos.</li>
                <li>Actividades conmemorativas: Celebraciones por aniversarios del parque y fechas ecológicas relevantes.</li>
            </ul>
        </section>

        <section>
            <h2>Galería de Imágenes</h2>
            <div class="gallery-container">
                <div class="gallery">
                   <img src="/src/imgs/Blog/imagen7.jpg"  alt="Imagen 1">
                   <img src="/src/imgs/Blog/imagen8.jpg"  alt="Imagen 2">
                   <img src="/src/imgs/Blog/imagen9.jpg"  alt="Imagen 3">
                   <img src="/src/imgs/Blog/imagen10.jpg"  alt="Imagen 4">
                   <img src="/src/imgs/Blog/imagen11.jpg"  alt="Imagen 5">
                </div>
            </div>
        </section>

        <section>
            <h2>Ubicación</h2>
            <div id="map"></div>
        </section>

        <section>
            <h2>Contacto</h2>
            <p>Correo: contacto@ejemplo.com</p>
            <p>Teléfono: +58 123-456-7890</p>
        </section>
    </main>

    <script>
        var map = L.map('map').setView([9.912337473644412, -67.35830258465663], 15);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        L.marker([9.912337473644412, -67.35830258465663]).addTo(map)
            .bindPopup('Parque Juan German Roscio')
            .openPopup();
    </script>

    <%- include('../mod/footer.ejs') %>

</body>
</html>
