/*
para la barra de navegacion, el footer, la paleta de colores 
y otras cuestiones que se manejen en todos-mayoria de archivos
*/

:root{
    --glaucous: #6d87d4;
    --vista-blue: #7793e8ff;
    --vista-blue-2: #83a2ffff;
    --jordy-blue: #9cb0ffff;
    --periwinkle: #b4bdff;
    --lavender-web: #dad0ddff;
    --navajo-white: #fee3bd;
    --navajo-white-2: #ffdba5ff;
    --sunset: #fdbf63;
}

@font-face {
    font-family: 'against';
    src: url('/src/fonts/Against/against\ regular.otf');
}
@font-face {
    font-family: 'cinzel';
    src: url('/src/fonts/Cinzel/CinzelDecorative-Regular.otf');
}
@font-face {
    font-family: 'cinzelBold';
    src: url('/src/fonts/Cinzel/CinzelDecorative-Bold.otf');
}
@font-face {
    font-family: 'creato';
    src: url('/src/fonts/Creato/CreatoDisplay-Regular.otf');
}
@font-face {
    font-family: 'recoleta';
    src: url('/src/fonts/Recoleta/Recoleta-RegularDEMO.otf');
}

#against {
    font-family: 'against';
}
#cinzel {
    font-family: 'cinzel';
}
#creato {
    font-family: 'creato';
}
#recoleta {
    font-family: 'recoleta';
}

body {
    padding: 0;
    margin: 0;
}

#navBarList {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    list-style: none;
}

.navBarItem {
    margin: 0;
    padding: 0 10px 0 10px;
    font-weight: bold;
    font-size: 20px;
}

.navBarLink {
    text-decoration: none;
    color: var(--vista-blue);
}
.navBarLink:hover {
    text-decoration: underline;
    color: var(--glaucous);
}

/* footer */
footer {
    padding: 20px;
    font-weight: bold;
    background-color: var(--glaucous);
}
#foot-content {
    color: white;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}